<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center">
    <div class="row">
        <div class="col mt-5 mb-5">
            Would you like to travel by Titanic? <br>
            Check your chance to survive!
        </div>
    </div>
    <div class="row">
        <form action="/predict/" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
                <input type="text" class="form-control" name="age" placeholder="must be integer or float in the range 0 to 80" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup2-sizing-sm">Fare</span>
                <input type="text" class="form-control" name="fare" placeholder="must be integer or float in the range 0.42 to 512.3292" required>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Sex</label>
                <select class="form-select" name="sex" required>
                    <option selected></option>
                    <option value="1">male</option>
                    <option value="0">female</option>
                </select>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
    <div class="row">
        <div class="col mt-5 mb-5">
            <p class="text-danger">
                The project has been created for educational purpose.<br>
                Please, don't use any information from it to taking decision over your trip!
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>

<script>
    // Check for JavaScript errors
    window.onerror = function (msg, url, line, col, error) {
        console.log('Error:', msg, 'URL:', url, 'Line:', line, 'Column:', col, 'Error object:', error);
        return true; // Prevent default error handling
    };
</script>

</body>
</html>
